 @font-face {
  font-family: "Anitilles";
  src: url(.././fonts/Antilles\ Expanded.ttf);
} 
p {
  color: #0E0D0E;
  font-family: "Anitilles"; 
  font-size: 50px;

}


.App {
  text-align: center;
}

.App-header {
  /* background-color: #F7F8FA; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FCE484;
}


