@font-face {
    font-family: "GranbyElephantPro-Regular";
    src: url(../../fonts/GranbyElephantPro-Regular.ttf);
}

.Slogan {
    color: #0E0D0E;
    font-family: "GranbyElephantPro-Regular";
    font-style: oblique;

    text-align: left;
    font-size: 50px;


    line-height: 1;

    
    
}