@font-face {
    font-family: "Marta_Bold";
    src: url(../../fonts/Marta_Bold.otf);
}

.Name {
    color: #0E0D0E;
    font-family: Eras Bold ITC;
    font-weight: 900;
    -webkit-text-stroke: 1px black; 
}

