@font-face {
    font-family: "GranbyElephantPro-Regular";
    src: url(../../fonts/GranbyElephantPro-Regular.ttf);
}

.Name {
    color: #0E0D0E;
    font-family: "GranbyElephantPro-Regular";
    text-align: left;
    font-size: 50px;
    margin-bottom: 6px;

    
}